@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #080710;           /* Background color (Light Gray) */
    --bg-color1: darkblue;
    
    --secondary-bg-color: darkslategrey;  /* animation color */
    --text-color: #fff;         /* Text color (Dark Gray) */
                                      /*  --main-color: #E74C3C;  */
    --main-color:darkslategrey;       /* Main color (Red) */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(255, 255, 255, 0.08); /* Add some transparency to the header */
    backdrop-filter: blur(20px); /* Apply a blur effect to the header */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow to the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}


.header.sticky {
    background: var(--secondary-bg-color);
}

.logo {
    position: relative;
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}



/* Continue with the rest of your CSS styles */

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}




.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index:1 ;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:nth-child(2){
    background-color:transparent ;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2)::before {
    background:var(--main-color) ;
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);

}
.btn-box .btn:hover{
  color: var(--main-color);  

}
.btn-box .btn::before{
    content:'' ;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
    width: 100%;
}


 


.heading{
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span {
    color: var(--main-color);
}


.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background:var(--secondary-bg-color) ;
}




.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
position: relative;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position:relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding:1.5rem ;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
cursor: pointer;
}

.contact form .focus {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background: var(--second-bg-color);
border-radius: .6rem;
z-index: -1;
transition: .5s;}       
.contact form input-box .input-field input:focus~.focus,
.contact form input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus, 
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;

}


.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:var(--secondary-bg-color) ;
    z-index: 98 ;  

}
.animate.home-img{
    width: 50%;
}

.logo .animate, 
.navbar .animate, 
#menu-icon .animate,
.home.show-animate .animate
{
    animation:showRight 1s ease forwards ;
    animation-delay:calc(.3s * var(--i)) ;
}

@media (max-width:1200px){
    html{
        font-size: 55%  ;
    }
}
@media (max-width:991px){
    .header{
        padding: 2rem 4%;
    }
    .section {
        padding: 10rem 4% 2rem;
    }
    .home {
        padding: 0 4%;
    }
    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width:768px){
    .header{
        background: var(--bg-color) ;
    }
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background:var(--main-color) ;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        transition-delay: 0s;
        left: 0;
 
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: 1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition:  .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        transition-delay: .25s;
        left: 0;
    }
    .navbar a {
        display:block ;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition-delay:0s ;
    }
    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imghover{
        pointer-events: none;
        background:var(--bg-color) ;
        opacity: .6 ;
    }
}

@media (max-width:520px) {
    html {
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction:column ;
    }
    .home-sci {
        width: 160px;
    }
    .home-sci a{
        width: 38px;
        height: 38px ;
    }
}

@media (max-width:460px){
.home-content h1  {
    font-size: 5.2rem;

}
.education{
    padding:10rem 4% 5rem 5% ;
}
.contact form .input-box .input-field{
    width:100% ;
}
.footer{
    flex-direction: column-reverse;
}
.footer p{
    margin-top: 2rem;
    text-align: center;
}
}

@media (max-width:371px) {
    .home {
        justify-content: center;

    }
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1 {
        font-size: 5rem;
    }

}

@keyframes homeBgText {
    0%,10%,100%{
        background-position: -33rem 0;
    }
    65%,85%{
        background-position: 0 0 ;
    }
}

@keyframes homeCursorText {
    0%,10%,100%{
        width: 0;
    }
    65%,78%,85%{
       width: 100%;
       opacity: 1;
    }
    75%,81%{
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes showRight {
    100% {
        width: 0;
    }
    
}





















   .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





section {
    /* padding: 160px 15% 120px; */
    height: 650px;
    width: 800px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 1px solid black;
    box-shadow: 0px 0px 40px 0px darkslategray;
}



